.rundown-list-item {
	.rundown-list-item__actions {
		min-width: 4em;

		> .action-btn {
			width: 1.5em;
		}
	}
}

.table-messages {
	width: 99% !important;

	.table-messages-title {
		width: 90%;
	}
	
	.table-messages-expand {
		width: 10%;
	}

	td {
		padding-left: 1.5em !important;
	}
}